
<header class="intro-header">
 
	<link rel='stylesheet' type='text/css' href='/css/style.css' />
	<link rel='stylesheet' type='text/css' href='/css/print.css' media="print" />
	<script type='text/javascript' src='/js/jquery-1.3.2.min.js'></script>
	<script type='text/javascript' src='/js/example.js'></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> 
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>Community Service Hours</title>


</header>


	<div id="page-wrap">

		<textarea id="header">Community Service Form</textarea>
		<div id= "studentId">
			<select>
  <option value="Student ID">StudentId</option>
  <option value="111">111</option>
  <option value="121">121</option>
  <option value="131">131</option>
    <option value="141">141</option>
  <option value="151">151</option>
  <option value="161">161</option>
</select>
</div>

		<div id="identity">

            <div id="logo">
              <img id="image" src="img/cunyvolunteersLogo.png" alt="logo" width="300" height="80"/>
            </div>
		
		</div>
	
		<div style="clear:both"></div>
		
		<div id="hoursInfo">
		<table id="items">
		
		  <tr>
		  	
		      <th>Date</th>
		      <th>Nonprofit</th>
		      <th>Supervisor Name</th>
		      <th>Supervisor Email/Phone Number</th>
		      <th>Hours</th>
		  </tr>
		  
		  <tr class="item-row">
		      <td class="item-name"><div class="delete-wpr"><textarea>Date</textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td>
		      <td class="description"><textarea>Non Profit Name</textarea></td>
		      <td><textarea class="supervisorName">Non Profit Supervisor Name</textarea></td>
		      <td><textarea class="supervisorInfo">Supervisor Information </textarea></td>
		      <td><textarea  class="hours">Hours</textarea></td>
		  </tr>
		  
		  <tr class="item-row">
		      <td class="item-name"><div class="delete-wpr"><textarea></textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td>

		      <td class="description"><textarea></textarea></td>
		      <td><textarea class="supervisorName"></textarea></td>
		      <td><textarea class="supervisorInfo"></textarea></td>
		      <td><textarea  class="hours"></textarea></td>
		  </tr>
		  
		  <tr id="hiderow">
		    <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
		  </tr>

		
		</table>


		
		<div id="terms">
		  <h5>COMMENTS</h5>
		  <textarea>Write any Comments!</textarea>
		</div>
	
	</div>

</div>
<div id="saveButton" style="text-align: center;">
<i class="fa fa-save" style="font-size:48px;color:#0c2255"></i>
</div>



