{{#each success}}
  <div class="alert alert-danger">{{this}}</div>
{{/each}}

<header class="intro-header" style="background-image: url('/img/profile.jpg')">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h6> <font size="9" color="#0c2255"> WELCOME {{user.username}} !</h6>
          <hr class="small">
          <span class="subheading"> Thank You for Volunteering {{user.firstName}} {{user.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<body>
<h3> Learn About More Volunteering Opportunites Near You </h3>
<img src="img/goodwill.jpg" alt="GoodWill" width = "100%">

<div id="logHours">
<img src="img/logHours.jpg" alt="Log Hours" width="300" height="300" align="left">

<div>
<img src="img/calendar.jpg" alt="Log Hours" width="300" height="300" align="right">

<div id="log">
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRdR0XmVvDoZjDP7PpHhb_DWbs3pPaaP_RQZlRfG8GsHUw802TFb0JQAu9l34fus1cwAG-MjgvXnguB/pubhtml?widget=true&amp;headers=false" width= "350" height="200"align="middle"></iframe>
 
</div>




</body>