
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
<div class="login">
   <div class="container" >
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#each error}}
            <div class="alert alert-danger">{{this}}</div>
            {{/each}}
            <div id="login">
               <form name="login" action="/login" method="post" >
                  <span class="fontawesome-user"></span>
                  <input type="email" class="form-control" placeholder="Email Address" name="email" required data-validation-required-message="Please enter your email address."  >
                  <p class="help-block text-danger"></p>
                  <span class="fontawesome-lock"></span>
                  <input type="password" class="form-control" placeholder="Password" name="password" required data-validation-required-message="Please enter your password.">
                  <p class="help-block text-danger"></p>
                  <button type="submit" class="btn btn-default">Login</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>