<header >
  

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="img/volunteer1.jpg" width="1050" height="550">
  
</div>

<div class="mySlides fade">
  <img src="img/volunteer2.jpg" width="1050" height="550">
</div>

<div class="mySlides fade">
  <img src="img/volunteer3.jpg" width="1050" height="550">
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

</header>

<div class="cd-full-width">
<div class="container js-tm-page-content tm-page-1 tm-section-margin-t-small" data-page-no="1">
    <div class="home">                            
        <div class="col-xs-12">
            <div class="tm-home-container-outer">
                <div class="tm-home-container">

                    <div class="tm-home-title-container">

                        <h2 class="tm-text-title text-xs-center tm-home-title">What is CUNY Volunteers?</h2>    

                    </div>
                    <div class="tm-home-description-container tm-bg-yellow">
                        <div class="text-xs-left tm-textbox">      
                                                                
                            <p class="tm-text-tm-home-description"> CUNY Volunteers is CUNY's Way of Making a difference in the world. Partner Colleges run CUNY Volunteers Club and create a network of Volunteers on Campus. CUNY Volunteers are a diverse group that volunteers with different nonprofits and login their service hours information, so they can have a record of their volunteering. Volunteering is a great way for students to show how they are unique on applications, resumes and interviews. Everyone Benefits from CUNY VOLUNTEERS!!!!</p>
                            <img src="img/CollegeHours.jpg" alt="collegeHours" width="1100" height="600">  
                            <p class="benefitBox">Volunteering Benefits!</p>

                            <img src="img/volunteerBenefits1.jpg" alt="Benefits1" width="550" height="800">
                            <img src="img/volunteerBenefits2.jpg" alt="Benefits2" width="550" height="800">

                    </div>    
                </div>
                
            </div>
        </div>
    </div>
</div>
</div> <!-- .cd-full-width -->

