<header>
  <img src="img/nonprofit.jpg" alt="Nonprofits" width="1050" height="550">
</header>
<div class="container" >
   <div class="row">

   	<img src="img/nonprofitImage.jpg" alt="Nonprofits" width="1150" height="650">
   </div>

</div>



   <div class="container" >
   <div class="row">


   	   <a href="http://www.crainsnewyork.com/article/99999999/DATA/50008861/top-nonprofit-organizations-in-the-new-york-area" class="button">Learn More About Nonprofit Organizations in New York City</a>

</div>
</div>